<?xml version="1.0"?>
<config>
	  <sections>
		<payment  translate="label" module="dynamicpaymentmethods">            
					<groups>
				      <dynamicpm translate="label"> 
					  <label>Dynamic Payment Methods</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>100</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <dynamicpmmap translate="label">
                            <label>Map Configuration</label>
							<frontend_type>textarea</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment><model>dynamicpaymentmethods/adminhtml_system_config_source_dynamicpmmap_comment</model></comment>
                          </dynamicpmmap>
					   </fields>
					   </dynamicpm>
					</groups>
		</payment>
	  </sections>
</config>
